
@{
    ViewBag.Title = "Index";
}

<h2>Bem vindo - Selecione a opção desejada </h2>

<ul>
    <li>@Html.ActionLink("Fazer Pedido", "IncluirPedidoTipado")</li>
    <li>@Html.ActionLink("Visualizar Pedido", "SelecionarPedidoTipado")</li>
</ul>